@font-face {
  font-family:"Oswald-Bold" ;
  src: url(../font/oswald/Oswald-Bold.ttf);
}

.container{
  margin: auto;
  max-width: 750px;
  background-color: white;
  margin-top: -8px;
  padding: 20px;
}
body{
  background-image:url(../img/fond.png);
}
ul li,p,footer{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: gray;
}
header{
  background-color: rgb(184, 203, 33);
  height: 160px;
  margin: -20px;
  
}
nav{
  text-align: center;
  margin-top: -60px;
  margin-right: -400px;
  font-size: 1.3em;
}
nav a{
  margin-right: 100px;
  color: black;

}
nav,h1{
  font-family: "Oswald-Bold";
}
h1{
  color:rgb(156, 177, 41) ;
  padding-top: 40px;
}
.who{
  width: 260px;
  float: left;
  padding-right: 10px;
}
button{
  height: 40px;
  background-color: rgb(156, 177, 41);
  float: right;
  color: aliceblue;
}
footer img{
  margin: auto;
  display: block;
  width: 40px;
  margin-top: 14px;
}
footer p{
  text-align: center;
  font-size: x-small;
}
/* section:after {
  content:'';
  display:block; 
  clear:both;
} */
section{
  clear: both;
  overflow: auto;
}